<div class="flex justify-center mb-4">
  <div class="hidden lg:block">
    <hr class="my-8 border-b border-gray-300" />

    <blockquote class="sm:flex lg:block">
      <p class="text-lg text-gray-600 dark:text-gray-400"><%= t("subscriptions.new.testimonial", product: Jumpstart.config.application_name) %></p>
      <cite class="mt-4 block font-semibold not-italic text-gray-900 dark:text-gray-200">
        <div class="flex items-center">
          <img class="block h-8 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="https://avatars1.githubusercontent.com/u/67093?s=40&v=4" alt="">
          <p class="font-medium leading-tight">Chris Oliver</p>
        </div>
      </cite>
    </blockquote>
  </div>
</div>
