<%= form_with url: local_assigns.fetch(:url, subscriptions_path),
  method: local_assigns.fetch(:method, :post),
  data: {
    controller: "braintree--paypal",
    braintree__paypal_client_token: Pay.braintree_gateway.client_token.generate,
    braintree__paypal_env: Pay::Braintree.environment,
    braintree__paypal_target: "form",
  } do |f| %>

  <div class="my-8 text-center">
    <%= tag.div nil, data: { paypal_target: "button" } %>
  </div>

  <%= f.hidden_field :plan, value: @plan.to_param %>
<% end %>
