<h4>Integrations</h4>
<p class="mb-4 text-sm text-gray-700 dark:text-gray-300">Integrations with popular services can be enabled with the click of a button. Add your credentials to the <%= link_to "Rails credentials", credentials_docs_path, target: :_blank %> and enable the integration and we'll take care of installing and configuring it for you.</p>

<% Jumpstart::Configuration::Integratable::AVAILABLE_PROVIDERS.each do |integration_name, name| %>
  <div class="mb-4">
    <div class="custom-control custom-checkbox toggle">
      <%= check_box_tag "configuration[integrations][]", name, Jumpstart.config.integrations.include?(name), disabled: false, id: name, class: "form-checkbox" %>
      <%= label_tag name, "#{integration_name}" %>
    </div>
  </div>
<% end %>
