<h4>Admin Users</h4>
<p class="mb-4 text-sm text-gray-700 dark:text-gray-300">Admin users have access to the admin dashboard. They're marked in the database with the <code>admin</code> flag set to true.</p>

<table class="table table-bordered text-left text-sm my-6">
  <thead>
    <tr>
      <th class="bg-gray-100 dark:bg-gray-800 font-bold p-2">ID</th>
      <th class="bg-gray-100 dark:bg-gray-800 font-bold p-2">Name</th>
      <th class="bg-gray-100 dark:bg-gray-800 font-bold p-2">Email</th>
    </tr>
  </thead>
  <tbody id="admin_users">
<%= render partial: "jumpstart/users/user", collection: User.where(admin: true).order(created_at: :asc), as: :user %>
  </tbody>
</table>

<h4>Add an admin</h4>
<%= select_tag :id, [], placeholder: "Search users by email", form: :admin_user, data: {
  controller: :select,
  select_url_value: users_path(format: :json),
  select_label_field_value: :email,
  select_value_field_value: :id,
  select_submit_on_change_value: true
} %>
