<div class="max-w-2xl mx-auto bg-white rounded p-8 my-24 text-center">
  <%= tag.div data: {
    controller: "paddle--billing",
    paddle__billing_environment_value: Pay::PaddleBilling.environment,
    paddle__billing_client_token_value: Pay::PaddleBilling.client_token,
  } %>
<%= link_to t("back"), subscriptions_path, class: "btn btn-white" %>
</div>
