<% content_for :section_title, "Background Workers" %>

<p class="text-xl">Jumpstart Pro makes adding background workers easy.</p>

<%= h2_with_anchor "Choosing Your Background Workers" %>
<p>The Jumpstart Pro config admin lets you select your preferred tool for processing background jobs.</p>

<ul>
  <li>Async - Rails default, runs jobs with an in-process thread pool. Should not be used in production.</li>
  <li><a href="https://github.com/basecamp/solid_queue" target="_blank">Solid Queue - Stores jobs in Rails database</a></li>
  <li><a href="https://github.com/sidekiq/sidekiq" target="_blank">Sidekiq</a> - requires Redis</li>
  <li><a href="https://github.com/bensheldon/good_job" target="_blank">GoodJob</a> - Requires PostgreSQL</li>
  <li><a href="https://github.com/que-rb/que" target="_blank">Que</a> - Requires PostgreSQL</li>
  <li><a href="https://github.com/jondot/sneakers" target="_blank">Sneakers</a> - Requires RabbitMQ</li>
  <li><a href="https://github.com/collectiveidea/delayed_job" target="_blank">Delayed Job</a></li>
  <li><a href="https://github.com/brandonhilkert/sucker_punch" target="_blank">Sucker Punch</a> - doesn't require a separate process, but doesn't allow scheduling</li>
</ul>

<%= h2_with_anchor "Active Job" %>
<p>After selecting your background worker of choice and saving your config, Jumpstart Pro will add the gem and configure ActiveJob to use it as the default for all environments.</p>

<%= h2_with_anchor "Sidekiq" %>
<p>If Sidekiq is enabled, we automatically enable the Sidekiq Web UI, restrict it to only admin users and add links to it in the navigation.</p>
<p>Sidekiq requires Redis to operate. Ensure <a href="https://redis.io/docs/install/install-redis/" target="_blank">Redis is installed</a> and properly configured in your setup before enabling Sidekiq.</p>